body {
  margin: 0;
  font-family: roboto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-row {
  width: 100%;
  display: flex;
}

.image-row img {
  max-width: 100%;
  height: auto;
}

.text-row {
  width: 100%;
  display: flex;
}

.text-row p {
  font-size: 1.2em;
  max-width: 100%;
}

.text-row h1 {
  font-family: chewy;
}

.text-container {
  /* background-image: url(/images/story-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto; */
  margin: 20px;
}

@font-face {
  font-family: roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: chewy;
  src: url(/assets/fonts/Chewy-Regular.ttf);
}

/* Media Queries */
@media only screen and (min-width: 1200px) {
  .text-row p {
    font-size: 1.8em;
    max-width: 1400px;
  }
  .text-row h1 {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 1200px) {
  .text-row p {
    font-size: 1.6em;
  }
  .text-row h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 1024px) {
  .text-row p {
    font-size: 1.4em;
  }
  .text-row h1 {
    font-size: 2.7em;
  }
}

@media only screen and (max-width: 768px) {
  .text-row p {
    font-size: 1.2em;
  }
  .text-row h1 {
    font-size: 2.2em;
  }
}

@media only screen and (max-width: 480px) {
  .text-row p {
    font-size: 1em;
  }
  .text-row h1 {
    font-size: 2em;
  }
}
