body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-row {
  width: 100%;
  display: flex;
}

.image-row img {
  max-width: 100%;
  height: auto;
}

.text-row {
  width: 100%;
  display: flex;
  font-family: roboto;
}

.text-row p {
  font-size: 1.2em;
  max-width: 100%;
}

.text-container {
  margin: 20px;
}

@font-face {
  font-family: roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

/* Media Queries */
@media (min-width: 1200px) {
  .text-row p {
    font-size: 1.4em;
    max-width: 1400px;
  }
  .text-row h1 {
    font-size: 3em;
  }
}

@media (max-width: 1200px) {
  .text-row p {
    font-size: 1.4em;
  }
  .text-row h1 {
    font-size: 3em;
  }
}

@media (max-width: 1024px) {
  .text-row p {
    font-size: 1.2em;
  }
  .text-row h1 {
    font-size: 2.7em;
  }
}

@media (max-width: 768px) {
  .text-row p {
    font-size: 0.9em;
  }
  .text-row h1 {
    font-size: 2.2em;
  }
}

@media (max-width: 480px) {
  .text-row p {
    font-size: 0.8em;
  }
  .text-row h1 {
    font-size: 2em;
  }
}
